// Surcharger les variables bootstrap
$primary: #fffcf2;
$secondary: #26100c;

// Customizer avec ces propres variables :
// import the functions & variables
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

//custom variables
$custom-colors: (
  "lightPrimary": #ffffff,
  "orange-custom": #ff4e32,
  "light-orange-custom": #ffa54d,
  "yellow-custom": #ffd02e,
);

$theme-colors: map-merge($custom-colors, $theme-colors);

@import "~bootstrap/scss/bootstrap";

body {
  background-color: $primary;
  color: $secondary;
}
a {
  color: $secondary;
}
