<nav class="navbar  navbar-expand-lg ">
	<div class="container-fluid d-flex justify-content-around">
		<a class="navbar-brand" href="/">
			<div class="d-flex align-items-center gap-2">
				<img src="{{ asset('build/images/wild.svg') }}" alt="logo wild series" height="50"/>
				<p class="pt-2 m-0 ">Wild Series</p>
			</div>
		</a>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav gap-5 ps-5 mb-0 mb-lg-0 ">

				<li class="nav-item dropdown pt-2 ">
					<a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégories
					</a>
					<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Another action</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown pt-2">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Acteurs
					</a>
					<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Another action</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>
				</li>
				<li class="nav-item pt-2">
					<a class="nav-link active" aria-current="page" href="/program">Mes favoris</a>
				</li>

				{# <li class="nav-item">
																																																																																																																																																																																																																																																																																																																																																													<a class="nav-link disabled">Disabled</a>
																																																																																																																																																																																																																																																																																																																																																												</li> #}
			</ul>

			{# **************	SEARCH BAR ************** #}
			{# <form class="d-flex">
																																																																																																																																																																												<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
																																																																																																																																																																												<button class="btn btn-outline-success" type="submit">Search</button>
																																																																																																																																																																											</form> #}
		</div>
	</div>
</nav>
